<div class="home-container">
  <div class="button-container">
    <button mat-button color="primary" routerLink="/login">Login</button>
    <button mat-button color="accent" routerLink="/registration">Registrazione</button>
  </div>
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Benvenuto in "Non era solo un raffreddore"</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Il miglior Centro Analisi per ipocondriaci!</p>
      <p>Hai mai sentito uno starnuto e pensato che fosse l'inizio della fine? 
        O hai googlato un mal di testa e sei finito a pianificare il tuo funerale? 
        Bene, sei nel posto giusto! Al nostro Centro Analisi, siamo qui per confermare che sì, 
        quella piccola tosse potrebbe effettivamente essere qualcosa di enorme... o forse no, 
        ma chi vuole rischiare? Con le nostre analisi iper-dettagliate e un team di esperti pronti a 
        spiegarti ogni singolo granello di polvere, ti faremo sentire ascoltato, capito, e soprattutto un po' meno pazzo. 
        Perché ricorda: qui, anche il più banale dei sintomi è trattato con la serietà di un thriller medico!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/dettagli">Scopri di più</button>
    </mat-card-actions>
    
  </mat-card>
</div>
